.open-sans-norml {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.header {
    background-image: url("../style/images/developer.png"),
        url(../style/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 200px;
}
.nav-title {
    font-weight: 800px;
    font-size: 45px;
}
/* shared-style */
.dark-1 {
    color: #181818;
}
.dark2 {
    color: #474747;
}
.dark-3 {
    color: #757575;
}
.secondary-bg {
    background: #fff8f3;
}
.text-center {
    text-align: center;
}

.text-primary {
    color: #fd6e0a;
}

.btn-primary {
    background-color: #fd6e0a;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}
.btn-primary:hover {
    background: blue;
    color: #ffffff;
    cursor: pointer;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li {
    margin-right: 50px;
    font-size: 20px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content {
    max-width: 500px;
}
.banner-bio {
    font-weight: 600px;
    font-size: 45px;
}
.banner-title {
    font-weight: bold;
    font-size: 85px;
    color: #181818;
}
.banner-discription {
    width: 550px;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}
.banner-picture {
    width: 584px;
}
/* section */
.section-title {
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.section-discription {
    font-size: 18px;
    color: #757575;
}

/* main */
main {
    max-width: 1140px;
    margin: 0 auto;
}
/* about section */
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.item-description {
    font-weight: 600;
}
.about-items {
    display: flex;
    justify-content: space-around;
}
/* skills container */
.skills-container {
    display: flex;
    gap: 20px;
}
.skill {
    width: 267px;
    height: 300px;
    border-radius: 5px;
    background: #ffffff;
    margin-top: 50px;
    padding: 30px;
    border: 1px solid gray;
    box-shadow: 0px 6px 20px 0px black;
    justify-content: space-between;
}

.skill:hover {
    width: 300px;
    height: 330px;
    background: rgb(70, 200, 193);
    cursor: pointer;
    transition: 0.3s;
    padding: 30px;
}
.skill-title {
    font-weight: bold;
    font-size: 20px;
}
.skill-description {
    font-size: 16px;
}
.skill-description:hover {
    color: #ffffff;
}
/* resume */

.resume-container {
    display: flex;
    gap: 15px;
}
.resume-colum-title {
    font-size: 30px;
    font-weight: bold;
}
.exprince-title {
    font-size: 25px;
    font-weight: bold;
}
.exprince-sub-title {
    font-size: 20px;
    font-weight: 600;
}
.exprince-description {
    font-size: 16px;
}
.resume-btn {
    margin-top: 69px;
}
/* footer */
footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    margin-top: 20px;
}
.footer-colam {
    width: 50%;
}
footer input[type="text"] {
    height: 64px;
    width: 461px;
    border-radius: 5px;
    background: #ffffff;
    display: block;
    padding: 8px 15px;
    font-size: 16px;
    margin-bottom: 24px;
    border: none;
}
